[submodule "examples/superset"]
	path = examples/superset
	url = https://github.com/apache/superset.git
[submodule "examples/saleor"]
	path = examples/saleor
	url = https://github.com/saleor/saleor.git
[submodule "examples/paperless_ngx"]
	path = examples/paperless_ngx
	url = https://github.com/paperless-ngx/paperless-ngx.git
[submodule "examples/posthog"]
	path = examples/posthog
	url = https://github.com/PostHog/posthog.git
[submodule "examples/sentry"]
	path = examples/sentry
	url = https://github.com/getsentry/sentry.git
